@charset "utf-8";
/* CSS Document */
h1{
	color: mediumpurple;
	background-color: ghostwhite;
	font-family: MateaMuzic;
	font-size: 70px;
	padding: 20px;
	width: 400px;
	opacity: 50%;
}
h3 {
	color: black;
	background-color: cadetblue;
}
p {
	color: black;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-size: 18px;
	line-height: 18px;
	width: 1000px;
	background-color: ghostwhite;
	opacity: 80%;
	padding: 20px;
}
.pozadina {
	background-image: url("slike/eberhard-grossgasteiger-NvesrDbsrL4-unsplash.jpg")
}
.apozadina {
	background-color: lightblue;
}
.bpozadina {
	background-color: darkcyan;
}
.cpozadina {
	background-color: rosybrown;
}
a:link {
	color: black;
	background-color: ghostwhite;
	padding:10px;
	line-height: 40px;
	border: 1px solid #000000;
}
a:hover {
	background-color: darkslateblue;
}
img {
	height: 350px;
}

